/*
 * Main stylesheet
 */

/*
 * Import HTML5 Boilerplate
 */
@import '_h5bp';

/*
 * Include components
 */
@import 'components/components';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
